<section class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../../../assets/images/img01.jpeg" class="card-img-top" alt="Noticia 1">
          <div class="card-body">
            <h5 class="card-title">Nuevo estudio sobre el autismo</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor fermentum ipsum, ac pellentesque odio mattis eu.</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../../../assets/images/img02.jpeg" class="card-img-top" alt="Noticia 2">
          <div class="card-body">
            <h5 class="card-title">Mes de concientización sobre el autismo</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor fermentum ipsum, ac pellentesque odio mattis eu.</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../../../assets/images/img03.jpeg" class="card-img-top" alt="Noticia 3">
          <div class="card-body">
            <h5 class="card-title">Apoyo a familias afectadas por el autismo</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor fermentum ipsum, ac pellentesque odio mattis eu.</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  