<section class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="nosotros.jpg" class="img-fluid" alt="Nosotros">
      </div>
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor fermentum ipsum, ac pellentesque odio mattis eu.</p>
        <p>Nullam a hendrerit lacus. In vel elit id dui condimentum aliquet eu ac ligula. Aenean posuere cursus magna et semper.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </section>
