<section class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images/empresa.jpg" class="img-fluid" alt="Nosotros">
      </div>
      <div class="col-md-6">
        <h2>Sobre nosotros</h2>
        <p>Nos dedicamos a crear juegos didácticos para niños con TEA.</p>
        <p>Nuestro enfoque es brindar juegos gratuitos y poner un plan extra para acceder a juegos reciente.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </section>
