<section class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Haz una donación</h2>
        <p>Todas las donaciones irán a diferentes ONGS</p>
        <form>
          <div class="form-group">
            <label for="amount">Monto</label>
            <input type="number" class="form-control" id="amount" placeholder="Enter amount">
          </div>
          <div class="form-group">
            <label for="name">Tu nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="email">Tu email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
          </div>
          <button type="submit" class="btn btn-primary">Dona ahora</button>
        </form>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/donation.jpg" class="img-fluid" alt="Donations">
      </div>
    </div>
  </section>
  
