<section class="jumbotron text-center">
    <h1 class="display-4">Bienvenido a Mate al juego</h1>
    <p class="lead">Accede a juegos que ayuden a niños con TEA a desarrollar su enfoque matemático</p>
    <a href="#" class="btn btn-primary">VER JUEGOS</a>
  </section>
  
  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>¿Qué vas a aprender?</h2>
        <p>Consigue puntos y recorre el camino del aprendizaje, usa los juegos como ayuda y diviértete aprendiendo</p>
      </div>
      <div class="col-md-6">
        <h2>Temas</h2>
        <ul>
          <li>Conteo</li>
          <li>Suma</li>
          <li>Resta</li>
        </ul>
      </div>
    </div>
  </section>