<section class="jumbotron text-center">
    <h1 class="display-4">Bienvenido a Mate al juego</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor fermentum ipsum, ac pellentesque odio mattis eu.</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </section>
  
  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor fermentum ipsum, ac pellentesque odio mattis eu.</p>
      </div>
      <div class="col-md-6">
        <h2>Our Services</h2>
        <ul>
          <li>Service 1</li>
          <li>Service 2</li>
          <li>Service 3</li>
        </ul>
      </div>
    </div>
  </section>