<section class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Asistencia Especializada en TEA</h2>
        <p>Ofrecemos servicios de asistencia y apoyo a personas con Trastorno del Espectro Autista. Nuestro equipo de especialistas altamente capacitados está aquí para ayudarte en tu camino.</p>
        <ul>
          <li>Evaluar y diagnosticar el TEA</li>
          <li>Elaborar planes de tratamiento individualizados</li>
          <li>Proporcionar terapia y entrenamiento especializado</li>
          <li>Ofrecer apoyo y orientación a las familias</li>
        </ul>
        <a href="#" class="btn btn-primary">Contáctanos</a>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/especialistas.jpg" class="img-fluid" alt="Especialistas en TEA">
      </div>
    </div>
  </section>
  