<section class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../../../assets/images/count.jpeg" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <h5 class="card-title">Cuenta y alienta</h5>
            <p class="card-text">Sigue la maratón del conteo</p>
            <a href="#" class="btn btn-primary">Jugar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../../assets/images/suma.jpeg" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <h5 class="card-title">Suma de una</h5>
            <p class="card-text">Segundo paso para sumar lo aprendido</p>
            <a href="#" class="btn btn-primary">Jugar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../../assets/images/resta.png" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Resta lo malo</h5>
            <p class="card-text">Una suma invertida</p>
            <a href="#" class="btn btn-primary">Jugar</a>
          </div>
        </div>
      </div>
    </div>
  </section>
